@page
@using WebAppDETAug2022.Models
@model WebAppDETAug2022.Pages.IPLEventModel
@{
}

<h1>Welcome To IPL 2022!!</h1>
<h2>Ticket Details </h2>
<table border="2">
    <tr>
        <th>category</th>
        <th>Price</th>
        <th>MaxLimit</th>
    </tr>

    @foreach (Tickets t in Model.Ticket)
    {
        <tr>


            <td>@t.Category</td>
            <td>@t.Price</td>
            <td>@t.MaxLimit</td>

        </tr>
    }
</table>
